@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";



body,html {
  box-sizing: border-box;
  max-width:100% ;
  direction: rtl;
}
body{
  max-width: 90%;
  margin: auto;
}
*{
  box-sizing: border-box;
}
